/* reset-css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display:block}
body {position:relative;line-height:1}
ol, ul {list-style:none}
a{color:inherit;text-decoration:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:'';content:none}
table {border-collapse:collapse;border-spacing:0}

#loading{position:fixed;top:0;left:0;right:0;bottom:0;background:#fff;opacity:0;-webkit-transition: opacity 1s ease-out;-moz-transition: opacity 1s ease-out;-o-transition: opacity 1s ease-out;transition: opacity 1s ease-out}
#loading.on{opacity:1}
#loading.on .ico_loading{opacity:1;-webkit-transition: opacity 2s ease-out;-moz-transition: opacity 2s ease-out;-o-transition: opacity 2s ease-out;transition: opacity 2s ease-out}
#loading .ico_loading{position:absolute;display:inline-block;top:50%;left:50%;width:32px;height:32px;margin:-16px 0 0 -16px;background:url('./../assets/ico_loading.gif');text-indent:-9999px;opacity:0}

#app{padding:20px}
#app .tit_path{padding:10px;border-bottom:1px solid #999}

#app .btn_back{display:inline-block;width:64px;height:64px;margin:10px;background:url('./../assets/ico_back.png') no-repeat;border:0 none;text-indent:-9999px;}

#app .node{float:left;width:20%;padding:5px;text-align:center;box-sizing:border-box}
#app .node:nth-child(5n){margin-right:0}
#app .node a{display:inline-block;width:100%;height:100%}
#app .tit_dir{display:block}

